// Style

.item-list {
  list-style-type: none;

  > .empty-state {
    .rounded-corners();
    background-color: @gray-lightest;
  }

  > .show-more a,
  > .page-separator a {
    .rounded-corners();
    background: @gray-lightest;
    text-align: center;
  }

  > .page-separator a {
    color: @gray;

    &:hover {
      text-decoration: none;
    }
  }

  > .page-separator + .list-item .main {
    border-top: none;
  }
}

// Layout

.item-list {
  margin: 0;
  padding: 0;

  .list-item {
    display: flex;

    &.show-more a,
    &.page-separator a {
      flex: 1;
      margin: .5em 0 0 3.5em;
      padding: .5em 1em;
    }

    .main {
      flex: 1 1 auto;
      padding: .5em 0;
      width: 0;
      margin-left: .5em;
    }

    .visual {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .icon-image {
      align-self: center;
      width:  3em;
      height: 3em;
      text-align: center;

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
      }
    }

    .caption {
      height: 3em;
      text-overflow: ellipsis;
      overflow: hidden;

      .line-clamp();
    }

    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    footer {
      display: flex;
      justify-content: space-between;
    }
  }

  > .empty-state {
    margin: 0 1em;
    padding: 1em;
    text-align: center;
  }
}

.item-list.minimal .list-item {
  header {
    max-width: 100%;
  }

  .visual {
    width: 2.2em;
    margin-right: .5em;
  }

  &.show-more a,
  &.page-separator a {
    margin-left: 2.7em;
  }

  .check-attempt {
    display: none;
  }

  .icon-image {
    height: 2em;
    width: 2em;

    img {
      vertical-align: middle;
    }
  }

  .title {
    p {
      display: inline;

      & + p {
        margin-left: .417em;
      }
    }
  }

  .caption {
    flex: 1 1 auto;
    height: 1.5em;
    margin-right: 1em;
    width: 0;

    .line-clamp("reset");
  }

  .caption,
  .caption .plugin-output {
    .text-ellipsis();
  }
}

.item-list:not(.detailed) .list-item {
  .title {
    display: inline-flex;
    align-items: baseline;
    white-space: nowrap;
    min-width: 0;

    > * {
      margin: 0 .5em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .subject {
      .text-ellipsis();
    }
  }
}

.item-list.detailed .list-item {
  .title {
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .caption {
    display: block;
    height: auto;
    max-height: 7.5em; /* 5 lines */
    position: relative;

    .line-clamp(4)
  }
}

.controls .list-item:not(:last-child) {
  margin-bottom: .5em;
}

.controls .item-list:not(.detailed):not(.minimal) .list-item {
  .plugin-output {
    line-height: 1.5
  }

  .caption {
    height: 2.5em;
  }
}
