.redundancy-group-list-item {
  .caption {
    display: flex;
    justify-content: space-between;

    .plugin-output {
      .line-clamp(2);
    }

    .object-statistics {
      ul {
        display: flex;
      }

      .state-badges {
        font-size: 0.75em;
      }
    }
  }
}
