parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$data of function hex2bin expects string, mixed given\\.$#"
			count: 1
			path: application/controllers/EventController.php

		-
			message: "#^Parameter \\#1 \\$str of function md5 expects string, mixed given\\.$#"
			count: 1
			path: application/forms/RedisConfigForm.php

		-
			message: "#^Parameter \\#1 \\$stack of function array_pop expects array, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Command/Transport/ApiCommandTransport.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Common/IcingaRedis.php

		-
			message: "#^Parameter \\#1 \\$arr1 of function array_diff_key expects array, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Common/ObjectInspectionDetail.php

		-
			message: "#^Parameter \\#1 \\$data of function bin2hex expects string, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Common/ObjectInspectionDetail.php

		-
			message: "#^Parameter \\#1 \\$str of function strtolower expects string, mixed given\\.$#"
			count: 2
			path: library/Icingadb/Compat/UrlMigrator.php

		-
			message: "#^Parameter \\#1 \\$input of function array_keys expects array, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Data/CsvResultSet.php

		-
			message: "#^Parameter \\#1 \\$input of function array_values expects array, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Data/CsvResultSet.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Data/PivotTable.php

		-
			message: "#^Parameter \\#1 \\$input of function array_keys expects array, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Data/VolatileCsvResults.php

		-
			message: "#^Parameter \\#1 \\$input of function array_values expects array, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Data/VolatileCsvResults.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Model/Behavior/ActionAndNoteUrl.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function array_merge expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: library/Icingadb/Model/CustomvarFlat.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, Icinga\\\\Module\\\\Reporting\\\\ReportData\\|null given\\.$#"
			count: 1
			path: library/Icingadb/ProvidedHook/Reporting/SlaReport.php

		-
			message: "#^Parameter \\#1 \\$number of function number_format expects float, float\\|int\\|string given\\.$#"
			count: 1
			path: library/Icingadb/Util/PerfData.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: library/Icingadb/Util/PluginOutput.php

		-
			message: "#^Parameter \\#3 \\$encoding of function htmlspecialchars expects string, null given\\.$#"
			count: 1
			path: library/Icingadb/Util/PluginOutput.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Web/Controller.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 1
			path: library/Icingadb/Web/Controller.php

		-
			message: "#^Parameter \\#1 \\$objects of method Icinga\\\\Module\\\\Icingadb\\\\Forms\\\\Command\\\\CommandForm\\:\\:setObjects\\(\\) expects array\\<ipl\\\\Orm\\\\Model\\>\\|\\(Countable&Traversable\\<mixed, ipl\\\\Orm\\\\Model\\>\\), array\\<int, null\\>\\|false given\\.$#"
			count: 1
			path: library/Icingadb/Widget/Detail/MultiselectQuickActions.php
