.item-list {
  // Reset defaults
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  color: @text-color-light;
  display: flex;
  margin: 0 -1em;
  padding: 0 1em;

  &.active {
    background-color: fade(@icinga-blue, 10);
  }

  &.overdue {
    background-color: @gray-lighter;
  }

  &.overdue header > *:not(time),
  &.overdue .caption {
    opacity: 0.6;
  }

  &.overdue time {
    .rounded-corners();
    background-color: @color-critical;
    color: white;
    margin-right: -.5em;
    padding: 0 0.5em;
  }

  .main {
    border-top: 1px solid @gray-light;
    flex: 1 1 auto;
    padding: .5em 0;
    width: 0;
  }

  .visual {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 1em;
    padding: .5em 0;
    width: 2.5em;

    .check-attempt {
      margin-top: .5em;
    }
  }

  .caption {
    height: 3em;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;

    i {
      opacity: 0.8;
    }

    a {
      color: @text-color;
    }

    p {
      display: inline-block;
    }
  }

  header {
    display: flex;
    justify-content: space-between;

    .state-text {
      color: @text-color;
      text-transform: uppercase;
    }
  }

  .title {
    a {
      color: @text-color;
      font-weight: bold;

      &:hover {
        color: @icinga-blue;
        text-decoration: none;
      }
    }
  }
}

.common .list-item {
  .caption {
    .line-clamp();
  }
}

.compact .list-item {
  header {
    max-width: 100%;
    overflow: hidden;
  }

  .visual {
    margin-right: .5em;
  }

  .check-attempt {
    display: none;
  }

  .title {
    white-space: nowrap;
  }

  .caption {
    flex: 1 1 auto;
    height: 1.5em;
    margin: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 0;
    white-space: nowrap;
  }

  time {
    margin-left: auto;
    white-space: nowrap;
  }
}

.detailed .list-item {
  .caption {
    display: block;
    height: auto;
  }
}

.downtime-list .list-item {
  .caption {
    .text-ellipsis();
    height: 1.5em;
  }

  .progress {
    height: 1/6em;
    margin-bottom: 1/3em;
    margin-top: -.5em;
    min-width: 100%;

    .progress-bar {
      background-color: @color-ok;
      height: 100%;
      max-width: 100%;
    }
  }

  .visual {
    background-color: @gray-lighter;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1em;
    margin-right: .5em;
    margin-top: 1px;
    padding: .5em .25em;
    text-align: center;
    width: 6em;

    strong {
      font-size: 1.5em;
      line-height: 1em;
    }
  }

  .visual.active {
    background-color: @color-ok;
    color: white;
  }
}

.comment-list {
  .caption {
    .text-ellipsis();
    height: 1.5em;
  }
}

.notification-list .list-item {
  .visual {
    width: 2.25em;
    display: block;
    text-align: center;

    .state-ball {
      box-shadow: 0 0 0 1px white;
    }

    .state-ball ~ .state-ball {
      margin-left: -.875em;
    }

    .state-ball.state-ok,
    .state-ball.state-up {
      background-color: white;
    }
  }

  .caption {
    .text-ellipsis();
    height: 1.5em;

    i {
      opacity: .8;
    }
  }
}

.item-table {
  display: table;
  width: 100%;

  .visual {
    padding: .25em;
    padding-right: .75em;
    width: 2.5em;
  }

  .list-item {
    display: table-row;

    &:not(:last-child) > *:not(.visual) {
      border-bottom: 1px solid @gray-light;
    }
  }

  .list-item > * {
    display: table-cell;
    padding: .5em 0;
  }

  .col {
    vertical-align: middle;
  }
}
