@gray-dark: #777;
@gray-light: #d8d8d8;

.attempt-ball {
  .ball();
  .ball-size-xs();
  background-color: @gray-light;

  &.taken {
    .ball-size-s();
    background-color: @gray-dark;
  }
}

.check-attempt {
  .attempt-ball:not(:last-child) {
    margin-right: .25em;
  }
}

.plugin-output {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

.state-text {
  text-transform: uppercase;
}
