@gray-dark: #777;
@gray-light: #d8d8d8;

.check-attempt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-attempt .ball {
  background-color: @gray-light;

  &:not(:last-child) {
    margin-right: 1/6em;
  }

  &.taken {
    background-color: @gray-dark;
  }
}

.plugin-output {
  .monospace();
}

.view-mode-switcher {
  list-style-type: none;
  margin: 0 0 0.25em 0;
  padding: 0;

  li {
    display: inline-block;
    color: @icinga-blue;
    line-height: 1;
    background: @low-sat-blue;

    &.active {
      background-color: @icinga-blue;
      color: white;
    }

    &:first-child {
      border-top-left-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
    }

    &:last-child {
      border-top-right-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
    }

    &:not(:last-child) {
      border-right: 1px solid @low-sat-blue-dark;
    }

    a {
      display: block;
      height: 100%;
      padding: 0.5em 1em;
      width: 100%;
    }
  }
}

.pagination-control {
  float: none;
}

.icon-ball {
  .ball();
  .ball-outline(@gray);
  text-align: center;

  i:before {
    margin-right: 0;
  }
}

.user-ball {
  .ball();
  .ball-size-xl();
  .ball-solid(fade(@gray, 70));
  font-weight: bold;
  line-height: 1.75;
  text-transform: uppercase;
}

.usergroup-ball {
  .ball();
  .ball-outline(@gray);
  .ball-size-xl();
  line-height: 1.75;
  text-transform: uppercase;
}

.ack-badge {
  text-transform: uppercase;
  line-height: 1;
  margin-top: -.25em;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .tabs,
  .filter {
    width: 100%;
  }

  .item-list {
    width: 100%;

    .main {
      border-top: none;
    }
  }
}

.perfdata-wrapper {
  svg {
    width: 100%;
  }

  svg:not(:last-child) {
    margin-bottom: 1em;
  }
}

.state-badge {
  .rounded-corners();
  color: white;
  display: inline-block;
  font-size: 1em;
  min-width: 2em;
  padding: .25em;
  text-align: center;

  &.state-critical {
    background-color: @color-critical
  }

  &.state-critical.handled {
    background-color: @color-critical-handled
  }

  &.state-down {
    background-color: @color-down
  }

  &.state-down.handled {
    background-color: @color-down-handled
  }

  &.state-ok {
    background-color: @color-ok
  }

  &.state-pending {
    background-color: @color-pending
  }

  &.state-unknown {
    background-color: @color-unknown
  }

  &.state-unknown.handled {
    background-color: @color-unknown-handled
  }

  &.state-up {
    background-color: @color-up
  }

  &.state-warning {
    background-color: @color-warning
  }

  &.state-warning.handled {
    background-color: @color-warning-handled
  }
}

.state-badges {
  padding: 0;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
  }

  li > ul > li:first-child:not(:last-child) .state-badge {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  li > ul > li:last-child:not(:first-child) .state-badge {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  > li:not(:last-child) {
    margin-right: .25em;
  }
}

.vertical-key-value {
  display: inline-block;
  line-height: .75;
  text-align: center;

  .value {
    font-size: 1.5em;
    font-weight: bold;
    color: @text-color;
  }

  .key {
    font-size: .75em;
  }
}

.text-center {
  text-align: center;
}
