.custom-var-table {
  .level-1 th {
    padding-left: .5em;
  }

  .level-2 th {
    padding-left: 1em;
  }

  .level-3 th {
    padding-left: 1.5em;
  }

  .level-4 th {
    padding-left: 2em;
  }

  .level-5 th {
    padding-left: 2.5em;
  }

  .level-6 th {
    padding-left: 3em;
  }
}

.horizontal-key-value {
  display: flex;

  .key {
    width: 12em;
    margin-right: 1em;
    flex: 0 0 auto;
  }

  .value {
    flex: 1 1 auto;
  }
}

.tag-list {
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: .417em;
      margin-bottom: .25em;
    }

    i {
      opacity: 0.8;
    }
  }

  > li > a {
    .rounded-corners();
    background-color: @gray-lighter;
    display: block;
    padding: .25em .5em;

    &:hover {
      background-color: @gray-light;
      text-decoration: none;
    }
  }
}

.event-box {
  .rounded-corners(.5em);
  background-color: fade(@gray, 80);
  border: 1px solid @gray-light;
  color: white;
  margin-bottom: .25em;
  padding: .5em;

  header {
    display: flex;

    time {
      margin-left: auto;
    }
  }

  .title {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;

    em {
      font-style: normal;
      text-transform: uppercase;
    }

    a {
      font-weight: bold;
    }
  }

  .caption {
    margin: 0;
    opacity: .8;

    &.output {
      .monospace();
    }
  }

  &.state-critical {
    background-color: fade(@color-critical, 80);
    border-color: @color-critical;
  }

  &.state-down {
    background-color: fade(@color-down, 80);
    border-color: @color-down;
  }

  &.state-ok {
    background-color: fade(@color-ok, 80);
    border-color: @color-ok;
  }

  &.state-pending {
    background-color: fade(@color-pending, 80);
    border-color: @color-pending;
  }

  &.state-unknown {
    background-color: fade(@color-unknown, 80);
    border-color: @color-unknown;
  }

  &.state-up {
    background-color: fade(@color-up, 80);
    border-color: @color-up;
  }

  &.state-warning {
    background-color: fade(@color-warning, 80);
    border-color: @color-warning;
  }
}
