// SPDX-FileCopyrightText: 2026 Icinga GmbH <https://icinga.com>
// SPDX-License-Identifier: GPL-3.0-or-later

.general-config-form {
  p.description {
    color: @text-color-light;
  }

  ul.lock-reasons {
    margin: 0;
    padding: 0;
  }
}
