.actions a {
  border-bottom: 1px solid;
  .var(border-bottom-color, gray-light);
  display: inline-block;
  margin-bottom: .25em;

  .text-ellipsis();
  max-width: 32em;

  &:hover {
    .var(border-color, icinga-blue-light);
    .var(color, icinga-blue);
    text-decoration: none;
  }
}
