// SPDX-FileCopyrightText: 2026 Icinga GmbH <https://icinga.com>
// SPDX-License-Identifier: GPL-3.0-or-later

// Style

.alert-detail .alert-message {
  .monospace();
  .rounded-corners(.25em);
  background-color: @gray-lighter;
}

// Layout

.alert-detail .alert-message {
  padding: .5em;
  white-space: pre-wrap;
  word-break: break-word;
}