.cancel-button {
  .button();

  .var(background, body-bg-color);
  border: 1px solid;
  .var(border-color, color-critical);
  .var(color, color-critical);

  &:hover {
    .var(background-color, color-critical);
    .var(color, text-color-on-icinga-blue);
  }
}

.cancel-button[disabled] {
  background-color: transparent;
  border: 1px solid;
  .var(border-color, disabled-gray);
  .var(color, disabled-gray);

  &:hover {
    cursor: default;
    .var(color, disabled-gray);
    background-color: transparent;
  }
}
