.donut-container {
  .card();

  h2 {
    margin: 0;
  }

  .state-badges {
    text-align: center;
  }

  &:not(:last-of-type) {
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .donut {
    margin: 0 auto;
  }
}

#layout.minimal-layout .donut-container {
  width: 100%;
}
