// HostGroup- and -ServiceGroupGrid styles
.content.full-width {
  ul.item-table {
    &.group-grid {

      margin-left: 1em;
      grid-template-columns: repeat(auto-fit, 15em);
      column-gap: 2em;

      li.group-grid-cell {
        .title {
          border: unset;
          align-items: center;

          > .visual {
            margin-right: 1em;

            .state-badge {
              width: 2.5em;
              height: 2.5em;
              padding: unset;
              line-height: 2.5;

              &.state-empty {
                background-color: @gray-light;
              }
            }
          }

          > .content a {
            line-height: 2;
            display: inline-block;
            max-width: 10em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
          }
        }
      }

      > li.table-row::before,
      > li.table-row::after {
        padding: unset;
        content: unset;
      }
    }
  }
}
