// Layout
.object-header {
  display: flex;

  .visual { // form ipl-web/item-list.less
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-right: .5em;
  }

  .visual,
  .main { // from icingadb/common.less
    padding-bottom: .25em;
    padding-top: .25em;
  }

  .icon-image { // from icingadb/item-list.less with .minimal
    height: 2em;
    width: 2em;
    line-height: 2;
    text-align: center;
    margin-left: .5em;
    overflow: hidden;

    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .main {
    flex: 1 1 auto;
    width: 0;

    header { // from ipl-web/item-list.less
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .title { // from ipl-web/item-list.less
        display: inline-flex;
        align-items: baseline;
        white-space: nowrap;
        min-width: 0;

        > * {
          margin: 0 .28125em; // 0 calculated &nbsp; width

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        .subject {
          .text-ellipsis();
        }
      }

      .caption {  // from icingadb/item-list.less
        flex: 1 1 auto;
        margin-right: 1em;
        width: 0;

        .text-ellipsis();

        .plugin-output {
          font-size: 11/12em;
          line-height: 1.5*12/11em;
          .text-ellipsis();
        }
      }

      time { // from ipl-web/list-item.less
        white-space: nowrap;
      }

      &.overdue time { // from icingadb/list-item.less
        margin-right: -.5em;
        padding: 0 0.5em;
      }
    }
  }
}

// style form icingadb/list-item.less
.object-header {
  &.overdue {
    background-color: @gray-lighter;
  }

  &.overdue header > *:not(time),
  &.overdue .caption {
    opacity: 0.6;
  }

  &.overdue time {
    .rounded-corners();
    background-color: @color-critical;
    color: @text-color-on-icinga-blue;
  }

  .title {
    .state-text {
      color: @text-color;
      text-transform: uppercase;
    }
  }
}

// style form ipl-web/list-item.less
.object-header {
  color: @default-text-color-light;

  .title {
    .subject {
      color: @default-text-color;
    }

    a {
      color: @default-text-color;
      font-weight: bold;

      &:hover {
        color: @list-item-title-hover-color;
        text-decoration: none;

        .subject {
          color: @list-item-title-hover-color;
        }
      }
    }
  }
}

// new layout changes
.object-header {
  .main > header {
    .title {
      margin-right: 1em;
    }

    .object-statistics {
      justify-content: end;
    }

    > :last-child {
      margin-right: 0;
    }
  }

  .icon-image {
    margin-left: 0;
    margin-right: .5em;
  }
}

.redundancygroup-header {
  .main header .title > .subject {
    margin-right: .28125em;
  }

  .object-statistics {
    font-size: .75em;
  }
}

.user-header,
.usergroup-header {
  .visual {
    padding: 0; // unset
  }

  .main > header {
    .title {
      > * { // does not make big diff, can be removed
        margin: 0; // unset
        margin-right: 0.5em;
      }
    }
  }

  .usergroup-ball,
  .user-ball {
    height: 2em;
    width: 2em;
    display: block;
  }
}

.hostgroup-header,
.servicegroup-header {
  .main {
    padding: 0; // reset
  }

  .main > header {
    .title {
      padding: .25em 0;

      > * { // does not make big diff, can be removed
        margin: 0; // unset
        margin-right: 0.5em;
      }
    }

    .caption {
      display: flex;
      flex: unset; // we have only .object-statistics here, so we don't need flex
      width: fit-content;
      gap: 1em; // hostgroup has two .object-statistics element
    }

    .vertical-key-value {
      br {
        display: none;
      }

      .key {
        padding-left: .417em;
      }

      .value {
        vertical-align: middle;
      }
    }
  }
}

.comment-header {
  .user-ball {
    font-size: .857em;
    height: 1.75em;
    line-height: 1.5em;
    width: 1.75em;
  }

  .title > i:first-child {
    margin-right: 0;
  }

  .title > .subject + .badge,
  .title > .badge + .subject,
  .title > .badge:last-of-type {
    margin-left: 0;
  }

  .title a {
    &:not(.subject) {
      .text-ellipsis();
    }
  }

  .title .subject:not(:last-child) {
    margin-left: 0;
  }

  .title .subject:nth-child(3):last-child {
    margin-left: 0;
  }
}

.comment-popup > .comment-header {
  .visual {
    margin-right: 0;
  }

  .user-ball { // ball is bigger in the popup
    font-size: unset;
  }

  .visual,
  .main {
    padding: .5em 0;
  }
}

.downtime-header {
  .visual {
    width: 8em;
    background-color: @gray-lighter;
    justify-content: center;
    gap: 0.28125em; // 0 calculated &nbsp; width

    margin-right: 1em; //TODO: to make bigger gap as before
  }

  &.in-effect {
    .visual {
      background-color: @color-ok;
      color: @text-color-on-icinga-blue;
    }
  }
}
