// HostGroup- and -ServiceGroupGrid styles

ul.object-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15em);
  grid-gap: 1em 2em;

  li.item-layout.object-grid-cell {
    margin: -.25em;
    padding: .25em;
    border-radius: .5em;

    .visual {
      padding: 0;
    }

    .caption {
      height: auto;
    }

    .title, .caption {
      line-height: 1;

      a {
        display: inline-block;
        max-width: 10em;
        text-align: center;
      }
    }

    .state-badge {
      width: 2.5em;
      height: 2.5em;
      line-height: 2;
    }
  }
}

