.state-change {
  display: inline-flex;

  .state-ball {
    .box-shadow(0, 0, 0, 1px, ~"var(--body-bg-color, @{body-bg-color})");
  }

  .state-ball ~ .state-ball {
    &.ball-size-xs {
      margin-left: -.05em;
    }

    &.ball-size-s {
      margin-left: -.15em;
    }

    &.ball-size-m {
      margin-left: -.275em;
    }

    &.ball-size-l,
    &.ball-size-xl {
      margin-left: -.875em;
    }
  }

  .ball-size-l ~ .ball-size-ml {
    &.ball-size-ml {
      margin-top: .26em;
      margin-left: -.375em;
    }
  }

  .state-ball.state-ok,
  .state-ball.state-up {
    &.ball-size-l,
    &.ball-size-xl {
      .var(background-color, body-bg-color);
    }
  }
}
