.item-layout.redundancy-group {
  .caption .object-statistics {
    justify-self: end;
  }
}

.minimal-item-layout.redundancy-group {
  .caption .object-statistics {
    font-size: 0.75em;
  }
}

.default-item-layout.redundancy-group {
  .title > .subject {
    margin-right: .28125em;
  }
}
