name: CI

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main

jobs:
  php:
    name: PHP
    uses: Icinga/github-actions/.github/workflows/php.yml@php-workflows
    with:
      php-extensions: ldap
      dependencies: |
        {
          "./vendor/icingaweb2-modules/x509"      : "https://github.com/Icinga/icingaweb2-module-x509.git",
          "./vendor/icingaweb2-modules/pdfexport" : "https://github.com/Icinga/icingaweb2-module-pdfexport.git",
          "./vendor/icingaweb2-modules/reporting" : "https://github.com/Icinga/icingaweb2-module-reporting.git"
        }
